body {
  margin: 0;
  background: #f4f4f4;
    font-size: 15px;
    color: #383838;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6;
    word-wrap: break-word;
}
 /* background image */
.example1{
    background-image:url(https://demo.bosathemes.com/html/travele/assets/images/img29.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.secexample1{
    display:flex;
    justify-content: space-between;
    margin-right:0px;
    margin-left:100px;
   
}
 
/* Top Bar */
 
 
.header-list  {
    display:flex;
    gap:30px;
    margin-left: 100px;
    font-size:14px;
    justify-content: space-between;
    color:white;
    padding:10px;
   
}
.header-list a:hover{
    color:#0085ba;
}
 .header-list2  {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
  padding:10px;
  margin-right: 200px;
}
.header-list2 i{
    padding-left: 10px;
    padding-right: 5px;
    color:white;
    text-decoration: none;
    font-size: 17px;
   
}
.header-list2 i:hover,
.header-list2 span:hover{
    color:#0085ba;
}
.search {
    padding:8px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-left: 10px;
   
 
}
.secexample2{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-right:0px;
    margin-left:-50px;
}
img{
    margin-left:240px;
}
.button-primary1{
    background-color: #f56960;
    border:none;
    color:#fff;
    display: inline-block;
    position: relative;
    font-size:15px;
    line-height: 1.3;
    padding:15px 30px;
    font-weight: 600;
   
    margin-right:195px;
 
}
 
.head-bar3{
    display: flex;
    margin-right:190px;
    justify-content: space-between;
   
    align-items: center;
   
}
a{
    text-decoration: none;
    color:#ffffff;
}
.list-unorder1{
    list-style: none;
    display: flex;
    gap:20px;
    margin-left: 100px;
}
 
 
 
 
 
 
.secexample3{
    display:flex;
    justify-content: space-between;
    margin-left:200px;
    margin-top: 40px;
    margin-right:100px;
}
.banner-items{
    display:block;
    margin-bottom: 100px;
    height:100px;
}
h5{
    color:#f56960;
    font-size:15px;
    font-weight: 700;
    line-height: 1.2;
    display: inline-block;
    font-family: "Raleway", sans-serif;
   
}
h2{
    font-size:60px;
    color: #ffffff;
    line-height: 1.1;
    font-weight: 800;
    font-family: "Raleway", sans-serif;
   
   
}
 
.dropdown{
    position:relative;
    display:inline-block;
    margin-left:30px;
   
}
.dropdown .icontag:hover b{
    color:#f56960;
}
 
.dropdown-content{
    display:none;
    position:absolute;
     background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
  left:0px;
  right:0px;
  top:40px;
  color:#f56960;
  border-top:4px solid #f56960;
  list-style: none;
  padding:0;
  margin:0;
  width:10px;
 
 
}
.dropdown:hover .dropdown-content{
    display:block;
   
}
.dropdown-content li{
    border-bottom: 1px solid #ddd;
}
.dropdown-content li a{
    display:block;
    padding:10px 15px;
    color:black;
   
   
}
.dropdown-content li a:hover{
    background-color: #0085ba;
    color:white;
    transition: width 2s, height 2s, transform 2s;
}
 
.icontag i {
    transition: transform 0.3s ease;
    color:#f56960;
}
.icontag:hover i {
    transform: rotate(180deg);
    color:#f56960;
}
 
 
 
p{
   
    font-size:15px;
    font-weight: 400;
    line-height: 1.2;
    color:white;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
   
}
 
.button-primary{
    background-color:#f56960;
    border:none;
    color:#fff;
    display: inline-block;
    font-size:15px;
    line-height: 1.3;
    padding:15px 30px;
    font-weight: 600;
   
   
 
}
.button-primary1{
    background-color: #f56960;
    border:none;
    color:#fff;
    display: inline-block;
    font-size:15px;
    line-height: 1.3;
    padding:15px 30px;
    font-weight: 600;
   
 
}
.button-primary:hover{
    background-color: #0085ba;
}
.button-primary1:hover{
    background-color: #2c75ba;
}
 
.button-second{
    background-color:#2c75ba;
     border:none;
    color:#fff;
    display: inline-block;
    font-size:15px;
    line-height: 1.3;
    padding:15px 30px;
    font-weight: 600;
    margin-left: 50px;
   
}
.button-second:hover{
    background-color:#f56960;
}
 
.title-icon span{
    content: ".....";
    display:inline-block;
    font-size:37px;
    letter-spacing: 3px;
    color:#fff;
    margin-top: -50px;
 
 
}
.head-bars{
    width:250px;
    margin-right:200px;
    margin-left:40px;
    margin-top: -10px;
 
}
 
 
.form-head{
   
    background-color: #0085ba;
    width:300px;
    padding:12px 20px;
   
   
}
label{
    display:block;
    color:white;
    font-size:18px;
    margin-top: 10px;
    padding-right:10px;
 
}
input{
    width:300px;
    padding:10px;
    border:none;
    background-color: #f7f7f7;
    font-size:12px;
    margin-bottom: 20px;
    box-sizing:border-box;
}
input::placeholder{
    color:#999;
}
.search-text{
    margin-bottom: 30px;
    background-color: #f56960;
    width:300px;
    padding:12px;
    margin-top:10px;
    border:none;
    color:white;
    cursor: pointer;
    transition: background 0.3s ease;
 
 
}
.search-text:hover{
    background-color:#2c75ba;
}
 
.secexample4{
    margin-top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secexample4 a{
    color:#f56960;
    font-weight: bold;
    margin-top: 15px;
}
h1{
    font-size:45px;
    color:#101F46;
    font-weight: 900;
    margin-top:15px;
}
.icon-style{
    font-size: 25px;
    color:#0085ba;
}
 
.top-destination{
    background-color: #fff;
}
.cards{
    max-width: 1200px;
    margin:0 auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:28px;
}
 
h3{
    color:#101F46;
}
.top-destination{
  padding: 32px 16px;
  background:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Row of cards */
.cards{
  max-width:1200px;
  margin:0 auto;
  height:350px;  
  gap:10px;
}
 
/* Card */
.destination-card{
  box-shadow:0 6px 20px rgba(0,0,0,.08);
  transition:transform .2s ease, box-shadow .2s ease;
  height: 400px;
  width:290px;
}
 
 
/* Image + rating overlay */
.destination-card .thumb{
    position:relative;
    width:96%;
    height: 300px;
 
 }
.destination-card img{
  width:85%;
  height:300px;           /* match the demo’s look */
  object-fit: contain;
 
  z-index: 1;
  right: 0px;
  position: absolute;
  opacity: 0.8;
  margin-top:13px;
  margin-right: 15px;
  filter:brightness(50%);
 
}
.destination-card .rating{
  position:absolute;
  top:15px;
  right:15px;
  font-size:16px;
  color:#fff;
  padding:4px 6px;
  border-radius:12px;
  line-height:1;
  z-index: 1;
}
 
/* Text */
.destination-card .info{
  text-align:center;
  padding: 18px 16px 22px;
}
.destination-card h3{
    margin:0 0 6px;
 
  font-size:22px;
  font-weight:700;
  color:#0b2348;
}
.destination-card .country{
   margin:0;
 
  font-size:13px;
  color:#0073e6;
  font-weight:700;
}
 
.button-type{
    background-color:#f56960;
    border:none;
    color:#fff;
    display: flex;
    align-items:center;
    font-size:15px;
    line-height: 1.3;
    padding:15px 30px;
    font-weight: 600;
    margin-left: 650px;
    margin-top:50px;
}
.button-type:hover{
    background-color:#2c75ba;
    transition: translate(0.3s);
}
.card-message{
    display: flex;
    justify-content: center;
    margin-left:-210px;
}
.overlay-override{
    position:relative;
    background-color: #0791BE;
    padding:30px;
    z-index: 2;
    align-items: center;
    width:28%;
    height:260px;
    margin-top: 0px;
    border:10px solid #fff;
}
.image-cards{
    position: relative;
    margin-left:250px;
}
.overlay-override h6{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
    margin: 30px 0 40px;
 
}
.button-type1{
    background-color:#f56960;
    border:none;
    color:#fff;
    display: flex;
    align-items:center;
    font-size:15px;
    line-height: 1.3;
    padding:15px 30px;
    font-weight: 600;
    margin-top: -30px;
   
}
.button-type:hover{
    background-color:#2c75ba;
    transition: translate(0.3s);
}
 
.image1{
    position: absolute;
      right: 0px;
 
 margin-top: -120px;
margin-right: 330px;
}
.image1 img{
    width:280px;
    height:350px;
}
.image2{
    position:absolute;
    margin-top: -400px;
  margin-left: -50px;
  border:10px solid #fff;
 
   z-index: 1;
   
}
.image2 img{
    width: 350px;
}
.image3{
    position: absolute;
margin-left:-53px;
margin-top: -120px;
  z-index: 1;
 
 
}
.image3 img{
    width:350px;
    border:10px solid #fff;
}
 
 
.image-cards2{
    margin-left:-40px;
    margin-top:-80px;
    display: block;
 
}
.image-cards2 p{
    color:#383838;
}
.logo-text{
    display: flex;
    margin-left:-250px;
    gap:10px;
}
.logo-text img{
    background-color: #f56960;
    width:80px;
    height: 80px;
}
.image-cards2 h1{
    font-size:48px;
    color:#101F46;
    font-weight: 900;
    margin-top:-8px;
    display: block;
   
   
}
.logo-text h1{
    color:#0b2348;
    font-weight: 900;
    font-size:15px;
    margin-left: 20px;
    margin-top:-2px;
}
.logo-text p{
    margin-left:20px;
    margin-top:-2px;
}
 
.images{
    margin-top: 50px;
    margin-left: -60px;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
}  
.images img{
    height: 100px;
    width: 100px;
   
}
 
.main-section{
    background-color: #f6f3f3;
}
.tour-section{
    display: flex;
    gap:10px;
    margin-left: 100px;
    max-width:1500px;
    height:500px;
    margin-top:50px;
}
.tour-card{
    display: flex;
    justify-self: unset;
}
.tour-image1 {
    position: relative;
    width: 200px;
   
}
.tour-image1 img {
    width: 300px;
    height: 350px;
    object-fit: cover;
    margin-left:50px;
}
 
.price1 {
    position: absolute;
    top: 20px;
    left: 50px;
    background: #f66;
    color: #fff;
    padding :10px;
    font-weight: bold;
    width:120px;
    font-size: 14px;
   
}
.tour-meta1 {
    position: absolute;
    bottom: 0px;
    background:#0085ba;
    color: #fff;
    width: 285px;
    padding: 8px;
    display: flex;
    justify-content:space-between;
    left:50px;
    margin-bottom:150px;
}
.tour-info1 {
    padding: 15px;
    width: 250px;
    height:320px;
    margin-left:150px;
    background-color: #fff;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.1);
   
}
.tour-info1 h3{
    color:#101F46;
   
    margin-top:2px;
    font-weight: 700;
    font-size:23px;
}
.tour-info1 h3:hover{
    color: #0791BE;
}
.tour-info1 a:hover{
    color:#0791BE;
}
 
.tour-info1 a{
    color:#383838;
    font-size: 15px;
    font-weight: 600;
    margin-right:67px;
}
.tour-info1 p{
    color:#999;
     
}
.tour-info1 a{
    color:#383838;
    font-size: 15px;
    font-weight: 600;
   
    display: inline;
   
}
.tour-info1 a span{
    color:#f56960;
    font-size: 25px;
   
}
 
.tour-info1 a{
    color:#383838;
    font-size: 15px;
    font-weight: 600;
    margin-right:47px;
}
 
.button .button-primary2{
    background-color:#f56960;
    border:none;
    color:#fff;
    display: flex;
    align-items:center;
    font-size:15px;
    line-height: 1.3;
    padding:15px 30px;
    font-weight: 600;
    margin-top:-100px;
    margin-left: 650px;
    transition: color 0.3s;
   
}
.button-primary2:hover{
    background-color: #0085ba;
}
.inner-contain a{
    position: absolute;
    bottom: 0px;
    background:#0085ba;
    color: #fff;
    width: 285px;
    padding: 8px;
    display: flex;
    justify-content:space-between;
    left:50px;
    margin-bottom:0px;
}

.secexample06{
    background-image: url(https://demo.bosathemes.com/html/travele/assets/images/img29.jpg);
   
    background-size:cover;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    background-attachment: fixed;
}
.secexample04{
    
    margin-top:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secexample04 a{
    color:#f56960;
    font-weight: bold;
    margin-top: 15px;
}
.secexample04 h1{
    font-size:45px;
    color:#ffffff;
    font-weight: 900;
    margin-top:15px;
}
.secexample04 .icon-style{
    font-size: 25px;
    color:#ffffff;
}
.direction{
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-top: 30px;
   
}

.image-text01{
    display: block;
    margin-right: -190px;
    font-size: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.28);
    padding-right: 50px;
}
.image-text02{
    display: block;
    margin-right: -90px;
    font-size: 30;
    padding-right: 50px;
}

.image-text01 img{
    position: relative;
}
.image-text01 p{
    color:white;
    position:absolute;
    margin-left:245px;
    margin-top:-10px;
    font-family: "Open Sans", sans-serif;
}
.image-text01 h4{
    color: white;
    margin-left:250px;
    font-size:large;
    font: "Open Sans", sans-serif;
}
.image-text02 img{
    position: relative;
}
.image-text02 p{
    color:white;
    position:absolute;
    margin-left:245px;
    margin-top:-10px;
}
.image-text02 h4{
    color: white;
    margin-left:250px;
    
    font: "Open Sans", sans-serif;
}






.image-width{
    background-image: url(img28.jpg) ;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 1000px;
    background-origin: border-box;
    background-blend-mode: darken;
    height: 55vh;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
   
}
.inner-message{
    margin-left:500px;
    margin-top:100px;
}
.inner-message h3{
   
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.1;
    max-width: 500px;
    margin: 0 auto;  
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.inner-message p{
    color:#ffffff;
   
    word-break:break-all;
    max-width: 525px;
    margin: 0 auto;  
    text-align: center;
}
.button-primary3{
    background-color:#f56960;
    border:none;
    color:#fff;
    display: flex;
    align-items:center;
    font-size:15px;
    line-height: 1.3;
    padding:15px 30px;
    font-weight: 600;
    margin-top:50px;
    margin-left: 200px;
    transition: color 0.3s;
}
.button-primary3:hover{
    background-color: #0085ba;
}
.secexample8{
    display: flex;
    justify-content: center;
    margin-top:50px;
     gap:50px;
}
 
.tour-image2 {
    position: relative;
    border:10px solid #ffffff;
   
    overflow:hidden;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
   
}
.tour-image2 img {
   
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-left:0;
   
    filter: brightness(50%);
}
.badge-dis{
    background-color: #0791BE;
    color: #ffffff;
    font-weight: 700;
    padding: 2px 45px;
    position: absolute;
    top: 20px;
    right: -35px;
    transform: rotate(45deg);
   
}
.tour-meta2 {
    position: absolute;
    bottom: 0px;
    font-weight: 900;
    color: #fff;
    width: 285px;
    padding: 8px;
    left:0px;
    top:280px;
       
}
.tour-meta2 h3{
    color:#ddd;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.1;
}
.tour-meta2 p{
    color: inherit;
    font-size: 20px;
    font-weight:bold;
    max-width: 250px;
    margin:0 4px;
    line-height: 1.1;
    transition: color 0.3s;
    font-family:"Raleway", sans-serif;
}
.tour-meta2 p:hover{
    color: #0085ba;
}
 
 
 
.top-destination1{
  padding: 32px 16px;
  background:#fff;
}
.cards01{
    display: flex;
    justify-content: center;
    gap:30px;
}
/* Row of cards */
.cards1{
  max-width:900px;
  gap: 10px;
}
 
/* Card */
.destination-card1{
  box-shadow:0 6px 20px rgba(0,0,0,.08);
  transition:transform .2s ease, box-shadow .2s ease;
  height: 400px;
  width:290px;
}
 
 
/* Image + rating overlay */
.destination-card1 .thumb1{
    position:relative;
 }
.destination-card1 img{
  width:99%;
  height:auto;           /* match the demo’s look */
  object-fit: contain;
  top:-10px;
  z-index: 1;
  right: 2px;
  position: absolute;
  margin-top:13px;
 
 
 
 
}
 
/* Text */
.info1{
   
     text-align:center;
  padding: 10px 16px 6px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  padding: 5px 20px;
  margin-left:60px;
  margin-top: 220px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.info1 h3{
    margin:0 0 6px;
   background-color: #fff;
  font-size:22px;
  font-weight:700;
  color:#0b2348;
}
.info1 .country{
  margin:0;
    background-color: #fff;
 
  font-size:13px;
  color:#0073e6;
  font-weight:700;
 
}
.icons{
    display: block;
    margin-top:330px;
    margin-bottom:10px;
    margin-left: 60px;
    position:absolute;
}
.icons .icons1{
    color:#f4f4f4;
    border:none;
    padding:10px 13px;
    background-color: #f56960;
    font-size:15px;
}
.icons .icons2{
    color:#f4f4f4;
    border:none;
    padding:10px 13px;
    background-color: #f56960;
    font-size:15px;
}
.icons .icons3{
    color:#f4f4f4;
    border:none;
    padding:10px 13px;
    background-color: #f56960;
    font-size:15px;
}
.icons .icons4{
    color:#f4f4f4;
    border:none;
    padding:10px 13px;
    background-color: #f56960;
    font-size:15px;
}
.destination-last{
    padding: 32px 16px;
  background:#fff;
     
}
.container-end{
    display: flex;
    gap:50px;
    margin-left:350px;
}
.cards02{
    
    height:400px;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    position: relative;
}
.cards02 img{
   
    width:100%;
  height:auto;           /* match the demo’s look */
  object-fit: cover;
  top:-14px;
  z-index: 1;
  right: 0px;
  position: absolute;
  margin-top:13px;
}
.cards02 h5{
    position:absolute;
    z-index: 1;
    top: 270px;
    left:15px;
    color:#101F46;
    font-size:21px;
    font-weight: 650;
    
}
.cards02 h5:hover{
    color: #0085ba;
    cursor: pointer;
}
.cards02 h6{
    position: absolute;
    left:15px;
    margin-top: 370px;
    color:#787878;
    font-size:12px;
    line-height: 1.1;
}
.cards02 h6:hover{
    color:#0085ba;
    cursor: pointer;
}


.footer-contain{
    background-image: url(img26.jpg) ;
    background-repeat: no-repeat;
    object-fit:cover ;
    background-size: 100%;
    background-blend-mode: darken;
    height: 55vh;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    margin-top:50px;
    background-color: rgba(0, 0, 0, 0.4);
}
